<div class="container d-flex flex-column justify-content-center align-items-center">  
    <mat-card class="card">
      <mat-card-title class="my-2 ms-3">Reset Password</mat-card-title>
        <mat-card-content>
          <form [formGroup]="resetPasswordForm">
              <mat-form-field class="form-field">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                @if(resetPasswordCtrl['password'].touched && resetPasswordCtrl['password'].invalid){
                  <mat-error>
                    @if(resetPasswordCtrl['password'].errors?.['required']){
                      <span  class="text-danger">Please enter the password.</span>
                    }
                    @if(resetPasswordCtrl['password'].errors?.['pattern']){
                      <span  class="text-danger">Password must be 8 character long and contains atleast one uppercase letter,one lowercase letter,one digit,one special character.</span>
                    }
                  </mat-error>
                }
              </mat-form-field>
              <mat-form-field class="form-field">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if(resetPasswordCtrl['confirmPassword'].touched && resetPasswordCtrl['confirmPassword'].invalid){
                  <mat-error>
                    @if(resetPasswordCtrl['confirmPassword'].errors?.['required']){
                      <span  class="text-danger">Please enter the confirm password.</span>
                    }
                  </mat-error>
                }
                @if(resetPasswordCtrl['confirmPassword'].errors?.['mismatch'] && resetPasswordCtrl['confirmPassword'].touched){
                  <mat-error>
                    Passwords do not match.
                  </mat-error>
                }
              </mat-form-field>         
                <button mat-flat-button color="primary" class="w-100" (click)="onReset()" type="submit">Reset</button> 
          </form>
        </mat-card-content>
      </mat-card>  
</div>

