.card {
  width: max-content;
  height: 400px; /* Set a fixed height for the card */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  padding: 0;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 100%; /* Make the image fill the card height */
  object-fit: contain; /* Ensure the full image is visible within the card */
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.1);
}
.card-actions{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  border-radius: 4px;
}

.movie-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 0 0 8px 8px; /* Match the card's border radius */
}

/* @media (max-width: 1200px) {
  .card {
    max-width: 250px;
    height: 350px;
  }
}

@media (max-width: 992px) {
  .card {
    max-width: 200px;
    height: 300px;
  }

  .movie-name {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 150px;
    height: 250px;
  }

  .movie-name {
    font-size: 0.9em;
  }
}

@media (max-width: 576px) {
  .card {
    max-width: 100%;
    height: auto;
  }

  .movie-name {
    font-size: 0.8em;
    padding: 5px;
  }
} */